/*
 * Rockfish (JHU) SLURM cluster configuration
 * Style matches nemascan-sims-nf/conf/example_rf.config
 */

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    // TODO: Update container image - requires: tidyverse, arrow, duckdb, DBI, data.table, yaml, glue
    container = "docker://TODO_UPDATE_CONTAINER_IMAGE"

    // Local processes - run on head node without container
    withName: 'DISCOVER_MAPPING_FILES|BUILD_EIGEN_LOOKUP|IDENTIFY_MARKER_SETS|DISCOVER_QTL_BATCHES' {
        executor = 'local'
        container = null
    }

    // R processes with specific resource requirements
    withName: 'WRITE_MARKER_SET' {
        time = "30.minute"
        cpus = 2
        memory = "8G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withName: 'PROCESS_MAPPING' {
        time = "10.minute"
        cpus = 1
        memory = "4G"
        //errorStrategy = 'retry'
        //maxRetries = 3
        array = 100
    }
    withName: 'AGGREGATE_METADATA' {
        time = "10.minute"
        cpus = 1
        memory = "4G"
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: 'ANALYZE_QTL_BATCH' {
        clusterOptions = '-A eande106_bigmem -e errlog.txt -N 1 -p bigmem'
        time = { "2.hour" * task.attempt }
        cpus = 2
        memory = "10G"
        errorStrategy = 'retry'
        maxRetries = 5
        array = 100
    }
    withName: 'AGGREGATE_QTL_RESULTS' {
        time = "20.minute"
        cpus = 1
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
    }
}

executor {
    queueSize = 100
    submitRateLimit = 10
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

